body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8e0e6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 50px;
  }
  
  button {
    padding: 10px;
    margin: 5px;
  }
  